@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --background-color: #F5F5F5;
  --color: rgba(0, 0, 0, 0.87);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-dark-mode {
  --background-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
}


#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}